$primary-color: rgb(220, 53, 69);
$secondary-color: rgb(165, 177, 194);
$light-color: rgb(245, 246, 250);
$dark-color: rgb(34, 47, 62);
$danger-color: rgb(179, 57, 57);
$success-color: rgb(16, 172, 132);
$small-devices-breakpoint: 576px;
$medium-devices-breakpoint: 768px;
$large-devices-breakpoint: 992px;
$extra-large-devices-breakpoint: 1200px;
$hd-devices-breakpoint: 1920px;
$grid-columns: ('auto', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
