.footer{
    @include padding('y', 'small');
    text-align: center;

    .block__row{
        @include margin('y', 'small');
    }

    &__author{
        font-size: 1.1rem;
        
        a{
            color: $primary-color;
            font-weight: 500;

            &:hover {
                color: $primary-color;
                text-decoration: none;
                text-shadow: 1px 1px 2px $secondary-color;
            }
        }
    }

    &__repository{
        @include padding('y', 'extra-small');
        font-size: 1.1rem;
        color: $primary-color;
        font-weight: bold;

        &:hover {
            color: $primary-color;
            text-decoration: none;
            text-shadow: 1px 1px 2px $secondary-color;
        }

        figure{
            @include margin('right', 'extra-small');
            display: inline;

            svg{
                height: .9em;
                width: .9em;
            }
        }
    }

    &__version{
        color: $secondary-color;
    }
}
