.card{
    @include margin('both', 'small');
    @include padding('both', 'small');
    @include shadow;
    border: 1px solid $secondary-color;
    border-radius: 6px;

    &__emoji{
        font-size: 2rem;
    }

    &:hover{
        cursor: pointer;
        @include shadow-large;
    }
}
